
/*顶部*/
.cn-top{
    width: 100%;
    height: 0.9rem;
    background: #141414;
    position: fixed;
    z-index: 998;
    top:0;
}
.cn-mid{
    width: 7rem;
    height: 100%;
    line-height: .9rem;
    margin: 0 auto;
    position: relative;
    /*height: 0.47rem;*/
    /*background: red;*/
    /*display: flex;*/
    /*justify-content: space-between;*/
}
.cnimgbox{
    /*display: flex;*/
    /*float: left;*/

    display: inline-block;
}
.cnimgbox:nth-child(1){
    width: 0.3rem;
    height: 0.47rem;
    position: absolute;
    left: 0;
    display: none;
    margin: .235rem 0 0 0;
    background: url("../images/kx_images/Back.png") no-repeat center center/cover;
}
.cnimgbox:nth-child(2){
    width: 0.47rem;
    height: 0.47rem;
    position: absolute;
    left: 0;
    margin: .235rem 0 0 0;
    background: url("../images/cn/cn9.png") no-repeat center center/cover;
}
.cnimgbox:nth-child(3){
    background:url('../images/header_change_images/kx_first.png') no-repeat center center/cover;
    width: 1.58rem;
    height: .39rem;
    position: absolute;
    top:0;
    right: 0;
    bottom:0;
    left:0;
    margin: auto;
}
.cnimgbox:nth-child(5){
    width: 0.47rem;
    height: .47rem;
    position: absolute;
    right: 0;
    margin: .235rem 0 0 0;
    background: url("../images/cn/cn11.png") no-repeat center center/cover;
}
.cnimgbox:nth-child(6){
    background: url(../images/cn/kx_quxiao.png) no-repeat center center/cover;
    width: .57rem;
    height: .29rem;
    display: none;
    top:50%;
    margin: -.145rem 0 0 0;
    position: absolute;
    right: 0;
    color: #ffffff;
}
.cnimgbox img{
    width: 100%;
}
.cntop1{
    background: url("../images/cn/cn12.png") no-repeat center center/cover;
    width: 100%;
    height: 0.51rem;
    position: absolute;
    top:.85rem;
    left: 0;
    /*display: flex;*/
    z-index:8;
}
.cntop1 img{
    width: 100%;
}

/*中间内容*/
.cninner{
    width: 100%;
    height: 8.45rem;
    /*box-sizing:border-box ;*/
    background: #fff;
    display: flex;
    flex-direction: column;
}
.cnout{
    width: 100%;
    height:4.76rem ;
    margin-top: 1.3rem;
    display: flex;
    justify-content: center;
}
.cntu{
    width: 4.3rem;
    height: 4.76rem;
}
.cntu img{
    width: 100%;
}
.cnxiao{
    width:100%;
    height: 1.74rem;
    margin-top: 0.7rem;
}
.cnxiaobox{
    width: 100%;
    height: 100%;
    padding-left: 0.26rem;
    overflow: hidden;
    box-sizing: border-box;
}
.cnxiaobox1{
    width: 1.58rem;
    height: 1.58rem;
    border-radius: 0.05rem;
    float: left;
    margin-right:0.16rem;
    padding: 3px;

}
.cnxiaobox1 img{
    width: 100%;
}
.cnxiaobox1:nth-child(2){
    border: 1px solid #000;
    /*box-sizing: border-box;*/
}
.cn-yy{
    text-align: center;
    font-size: 20px;
    color: #141414;
    margin-top: 0.65rem;
}
.cn-zw{
    text-align: center;
    font-size: 12px;
    margin-top: 0.5rem;
    color: #919191;
}
.cn-di{
    width: 6.19rem;
    height: 1.08rem;
    margin-left: 0.9rem;
    /*background: yellow;*/
    margin-top: 0.34rem;
}
.cn-dibox:nth-child(1){
    width: 0.85rem;
    height: 0.3rem;
    display: flex;
}
.cn-di span {
    font-size: 10px;
}
.cn-dibox img{
    width: 100%;
}
.cn-dibox:nth-child(2){
    width: 0.85rem;
    height: 0.3rem;
    display: flex;
}

/*index1页面*/
.cn-content{
    width: 3.2rem;
    height: 5.1rem;
    /*background: red;*/
    border-radius: 0.1rem;
    /*margin-top: 1rem;*/
    box-shadow:0 0 0.1rem  #EEEEEE;
    float: left;
    margin-left: 0.4rem;
    /*margin-right: 10px;*/
}
.cnshang{
    width: 100%;
    height: 3.54rem;
}
.cnshang img {
    width: 100%;
}
.cnzhong{
    width: 100%;
    height: 0.95rem;
    background: #141414;
    display: flex;
    position: relative;
}
.cnzhong .cn-1{
    display: block;
    /*width: 100%;*/
    font-size: 14px;
    color: #fff;
    /*margin-top: 0.22rem;*/
    text-align: center;
    position: absolute;
    left:0.2rem;
    top:0.2rem;
}
.cnzhong .cn-2{
     font-size: 8px;
     color: #fff;
     font-weight: bold;
    position: absolute;

 }
.cnzhong .cn-3{
    font-size: 8px;
    color: #fff;
}
 .cnzhong .cnmohu{
    font-size: 12px;
}
.cnxia{
    width: 100%;
    height: 0.61rem;
    background: #fff;
    display: flex;
    align-items: center;
}
.cnn-left{
    width: 0.86rem;
    height: 0.3rem;
    display: flex;
    margin-left: 0.21rem;
}

.cnxianei{
    width:2.7rem ;
    height:  0.3rem;
}
.cnxia span{
    display: block;
    font-size: 12px;
    color: #fff;
}
.cnding{
    width: 100%;
    height: 3.8rem;
    background: #fff;
    position: relative;
}
.cn-ban{
    position: absolute;
    width: 6.66rem;
    height: 2.5rem;
    background: #FEFEFE;
    top: 0.2rem;
    left: 50%;
    margin-left: -3.33rem;
    z-index: 7;
    box-shadow: 0 0 0.3rem #ccc;
    border-radius: 0.03rem;
}
.cn-bannertu{
    width: 6.16rem;
    height: 3.13rem;
    position: absolute;
    left:50%;
    margin-left: -3.06rem;
    top:0;
    z-index: 8;
}
.cn-bannertu img{
width: 100%;
}
.cn-lunbox{
    position: absolute;
    margin-left: -3.04rem;
    top:0.58rem;
    width: 6.14rem;
    height: 3.13rem;
    z-index: 10;
    left:50%;
}
.cn-lunbox img{
    width: 100%;
}
.cn-wenzi{
    text-align: center;
    color: #F3F3F3;
    text-transform:Uppercase;
    position: absolute;
    left: 0.77rem;
    top:3.14rem;
}

/*web轮播*/

.cnlunbo{
    padding-top:0.2rem ;
    width: 100%;
    height:3.04rem;
    display: flex;
    justify-content: center;
    align-items:center;
}
.cn-web-inner{
    width: 5.44rem;
    height: 2.77rem;
}
.cn-web-inner li img{
    width: 100%;
}
.cn-web-box{
    width: 7.02rem;
    height: 2.68rem;
    margin: 0 auto;
}



html,body{
    height: 100%;
}

/*header*/
.header{
    width: 100%;
    height:1.47rem;
}


/*banner*/
.banner{
    width: 100%;
    height: 3.1rem;
}
.swiper-container {
    width: 100%;
    height: 3.1rem;
    margin: 10px auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /*width:5.1rem!important;*/

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    /*background: url("../images/cn/banner_03.png")no-repeat center center/cover;*/
    border-radius: 5px;
}
.swiper-slide a{
    width: 100%;
    height: 100%;
    display: block;
}
.swiper-pagination-bullet-active {
    opacity: 1!important;
    background: #000 !important;
    width: 20px!important;
    height: 8px!important;
    border-radius: 8px!important;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -20px!important;
}
/*内容*/
.section{
    width: 100%;
    height:62%;
    padding-top: .1rem;
    position: relative;
}
.text{
    font-size: 40px;
    font-weight: bold;
    color: #cccccc;
    position: absolute;
    right: 0;
    z-index:-1;
}
.inner{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: .5rem .2rem 0rem;
}
.page1{
    width: 100%;
    height:2.68rem;
    margin-bottom: .1rem;
    position: relative;
}

.page1>a{
    width: 100%;
    height: 100%;
    display: block;
    background: url(../images/cn/03.png) center center/cover no-repeat;
}
 .right-bottom{
    position: absolute;
    right: 0;
    bottom: 0.1rem;
    width: 2.4rem;
    height: .46rem;
    line-height: .46rem;
    font-size: .2rem;
} 
.box111{
    float: left;
    line-height: .46rem;
}
.box222{
    float: left;
    line-height: .46rem;
    margin-left: .22rem;
}
.right-bottom .s1{
    width: .28rem;
    height: .24rem;
    margin-top: .08rem;
    margin-right: .05rem;
    background: url(../images/cn/3web_r2_c2.png) center center/contain no-repeat;
}
.right-bottom .e1{
    color: #fff;
    float: left;
}
.right-bottom .e2{
    color: #fff;
}
.right-bottom .s2{
    margin-right: .05rem;
    width: .2rem;
    height: .2rem;
    margin-top: .11rem;
    background: url(../images/cn/cn7.png) center center/contain no-repeat;
}

.left-bottom{
    position: absolute;
    left: .35rem;
    bottom: 0.1rem;
    width: 2.8rem;
    height: .84rem;
    font-size: .2rem;
}
.left-bottom .p1{
    font-size: .3rem;
    color: #F0F0F0;
}
.left-bottom .p2{
    font-size: .14rem;
    color: #DED8D8;
}
.hxbox{
    height: 0;
    width: 1.2rem;
    border-bottom: 1px solid #fff;
    /*background: #fff;*/
    padding: 0.03rem 0;
}
.kx_regret{
    background: url("../images/header_change_images/kx_regret.png") no-repeat center center/cover;
    width: .57rem;
    height: .29rem;
    display: none;
    position: absolute;
    left: 0;
    top:50%;
    margin: -.145rem 0 0 0;
}
.kx_finish{
    background: url("../images/header_change_images/finish.png") no-repeat center center/cover;
    width: .58rem;
    height: .28rem;
    display: none;
    position: absolute;
    right: 0;
    top:50%;
    margin: -.14rem 0 0 0;
}


/*扇形菜单*/

body,ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.cn-box{
    width:1.5rem;
    height:1.2rem;
    position:fixed;
    right: 0.85rem;
    bottom: 1.75rem;
}
.cn-meno{
    width:1.29rem;
    height:1.2rem;
    position: absolute;
    left:0;
    top:0;
    background:#fff  url("../images/cn/cncai.png") center center/100%;
    z-index:999;
    cursor: pointer;
}
.cn-group{
    width: 100%;
    height:100%;
    position:absolute;
}
.cn-group li{
    width: 100%;.
    height: 100%;
    float: left;
    position: absolute;
}
.cn-group .cn-yi{
    background:#fff url("../images/cn/cnuser.png") no-repeat center center;
    background-size: 0.39rem 0.54rem;

}
.cn-group .cn-er{
    background:#fff url("../images/cn/cnwa.png")no-repeat center center;
    background-size: 0.45rem 0.55rem;
}
.cn-group .cn-san{
    background:#fff url("../images/cn/cnhphone.png")no-repeat center center;
    background-size: 0.39rem 0.54rem;
}
.cn-group .cn-si{
    background:#fff url("../images/cn/cnpc.png")no-repeat center center;
    background-size: 0.39rem 0.54rem;
}
.cn-group li {
    width: 0.9rem;
    height: 0.9rem;
}
.cn-dianji{
    position: absolute;
    bottom: -0.3rem;
    left: -0.19rem;
    color: #141414;
    font-weight: bold;
    text-align: center;
    display: block;
    width: 1.4rem;
    height: 0.29rem;
}
.cn-zhezhao{
    width: 100%;
    height:100%;
    background:#fff;
    opacity: 0.6;
    position: fixed;
    left:0;
    top: 0;
    display: none;
    z-index: 9997;
}
