@import url(base.css);
.fl{float:left;}
.fr{float:right;}

.comWidth{
	width: 5.9rem;
	margin: 0 auto;
}
.clearfix:after{
	content:"";
	display: block;
	line-height: 0;
	height: 0;
	clear: both;
}
.clearfix{
	zoom:1;
}
html,body{
	height: 100%;
	width:100%;
}
a{
	color:#000;-webkit-tap-highlight-color:transparent;
}
em{
	font-style: normal;
}
body{
	font-size: 16px;
}
.header{
	height: 0.97rem;
}
.bgword{
	margin: 0 auto;
	width: 7.2rem;
	height:.55rem ;
	background: url(../images/zk_images/4.png) no-repeat  left center/cover ;
}
.personCenter{
	position: relative;
	margin-bottom: .76rem;
	height: 6.6rem;
	background: url(../images/zk_images/2.png) no-repeat center center/cover ;
}

/*头像*/
.portrait{
	position: absolute;
	left:50%;
	top: 1.4rem;
	width: 2rem;
	height: 2rem;
	margin-left: -1rem;
	border-radius: 50%;
	z-index: 999;
	background: url(../images/zk_images/5.png) no-repeat center center/cover;
}
.portrait .tou{
	width: 1.7rem;
	height: 1.7rem;
	margin: 0.15rem auto;
	display: block;
}
.portrait .tou img{
	border-radius: 50%;
	width: 1.7rem;
	height: 1.7rem;
	display: block;
}
.personCenter a{
	display: block;
	line-height: .9rem;
	height: .9rem;
	/*border-bottom: 1px solid #eee;*/
}
.personCenter em{
	margin-left: .3rem;
	display: block;
	float: left;
	width: .46rem;
	height: .52rem;
	background-size: cover;
	background-image:url(../images/zk_images/1.png);
	background-repeat: no-repeat;
}
.personCenter .e1{
	margin-top: 0.22rem;
	background-position:0 0 ;
	/*background:url(../images/zk_images/1.png) 0 0/cover no-repeat;*/
}
.personCenter .e2{
	margin-top: 0.22rem;
	background-position: 0 -.85rem;
}
.personCenter .e3{
	margin-top: .2rem;
	background-position:0 -1.7rem ;
}
.personCenter .e4{
	margin-top: .22rem;
	background-position:0 -2.64rem ;
}
.personCenter span{
	float: left;
	color: #141414;
	font-size: .3rem;
	margin-left: .2rem;
}

.personCenter h4{
	margin: 0 auto;
	padding-top: 1.32rem;
	text-align: center;
	font-size: .26rem;
	margin-bottom: .64rem;
	height: .3rem;
}

.bgword1{
	position: absolute;
	z-index: -1;
	left: .15rem;
	top:8.76rem;
	width: 7.2rem;
	height:.55rem ;
	background: url(../images/zk_images/4.png) no-repeat  left center/cover ;
}
/*最近收藏*/
.collection{
	padding-top: 0.76rem;
	margin-left: .3rem;
	height: 2.6rem;
	width: 2.9rem;
	display: flex;
	justify-content:;
	/*align-items:center;*/
}
.collection .tus{
	width: .45rem ;
	height: .45rem;
	background: url(../images/zk_images/collection11.png) no-repeat center center/contain;
}
.recent-collection{
	display: flex;
	flex-direction:column;
	/*align-items:center;*/
	margin-left: .1rem;
}
.recent-collection .h3{
	font-size: .28rem!important;
	display: flex;
	align-items:center;
	width: 1.2rem;
	height: .28rem;
	margin-bottom: .1rem;
}
.collection .recent-collection .h3 span{
	color: #000;
	font-size: .28rem!important;
}
.recent-collection .h3 em{
	margin-left: .05rem;
	font-weight: 400;
} 
.recent-collection .h4{
	width: 2.35rem;
	height: .18rem;
	font-size: .18rem;
	display: flex;
	align-items:center;
}
.recent-collection .h4 span{
	color: #000;
}
.recent-collection .h4 em{
	margin-left: .05rem;
	font-weight: 400;
}