<!doctype html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="renderer" content="webkit"/>
    <script src="js/rem.js"></script>
    <title>首页</title>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <link rel="stylesheet" href="css/search_result.css">
    <link rel="stylesheet" href="css/designer_result.css">
    <link rel="stylesheet" href="css/search_pages.css">
    <link rel="stylesheet" href="css/public/base.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/collectionList.css">
    <link rel="stylesheet" href="css/upload.css">
    <link rel="stylesheet" href="css/personCenter.css">
    <link rel="stylesheet" href="css/setting.css">
    <link rel="stylesheet" href="css/setting.css">
    <link rel="stylesheet" href="css/wjy_pinlun.css">
     <link rel="stylesheet" href="css/swiper.min.css">
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.min.js"></script>

</head>
<body ng-controller="c" ng-cloak="true" >
    <!--<a href="#!/">首页</a>-->
    <!--<a href="#!/cnwatch">watch</a>-->
    <!--<a href="">web</a>-->
    <!--<a href="#!/personCenter">个人中心</a>-->
<cnitem>

</cnitem>
    <!--搜索框开始-->
    <ul class="kx_search_box">
        <li ng-repeat="v in work|filter:{title:name }|limitTo:6 track by $index ">
             <span>新时代</span>{{v.title}}
        </li>
    </ul>
    <!--搜索框结束-->

<!--<cnindex ng-repeat='v in data' data='v'></cnindex>-->



    <!--<cnleft></cnleft>-->





<div ng-view>


</div>
    <script src="js/mobiscroll-2.13.2.full.min.js"></script>
    <script src="js/touch-0.2.14.min.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/directive.js"></script>
    <script src="js/index.js"></script>
</body>
</html>