@import url(base.css);
.kx_header{
    width: 100%;
    height: 1.44rem;
    background: url(../images/header.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: .43rem;
    padding-right: .43rem;
    box-sizing: border-box;
    margin-bottom: .42rem;
}
.kx_header span:nth-child(1){
    width: .47rem;
    height: .47rem;
    background: url(../images/Grid.png) no-repeat;
    background-size: cover;
    display: inline-block;
}
.kx_header span:nth-child(2){
    width: 2.47rem;
    height: .40rem;
    background: url(../images/search_result.png) no-repeat;
    background-size: cover;
    display: inline-block;
}
.kx_header span:nth-child(3){
    width: .44rem;
    height: .46rem;
    background: url(../images/search.png) no-repeat;
    background-size: cover;
    display: inline-block;
}
.kx_designer_list{
    padding-left: .43rem;
    padding-right: .43rem;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.kx_designer_list .kx_show{
    width: 6.65rem;
    height: 2.58rem;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 3px 3px 3px 3px #ECECEC;
    margin-bottom: .5rem;
}
.kx_designer_list .kx_show .kx_designer_pic{
    width: 2.15rem;
    height: 2.58rem;
    float: left;
    position: relative;
}
.kx_designer_list .kx_show .kx_designer_intro{
    width: 4.50rem;
    height: 2.58rem;
    float: left;
    background: url(../images/show_bg.png) no-repeat;
    background-size: cover;
    padding-top: .20rem;
    padding-left: .20rem;
    padding-right: .20rem;
    box-sizing: border-box;
}
.kx_designer_pic span:nth-child(1){
    width: 100%;
    height: 100%;
    display: inline-block;
}
.kx_designer_pic span:nth-child(2){
    width: 2.12rem;
    height: .74rem;
    display: inline-block;
    position: absolute;
    bottom: 0;
    background-color: #131313;
    font-size: .24rem;
    text-align: center;
    line-height: .74rem;
    color: #FFFEFE;
}
.kx_designer_intro p:nth-child(1){
    font-size: .26rem;
    margin-bottom: .15rem;
}
.kx_designer_intro p:nth-child(2){
    font-size: .20rem;
    color: #A2A2A2;
    margin-bottom: 1rem;
}
.kx_designer_intro span{
    float: left;
    margin-right: .11rem;
}
.kx_designer_intro span:nth-child(3){
    background: url(../images/Notepad1.png);
    width: .23rem;
    height: .29rem;
    display: inline-block;
    background-size: cover;
}
.kx_designer_intro span:nth-child(4){
    font-size: .2rem;
    color: #202020;
}
.kx_designer_intro span:nth-child(5){
    background: url(../images/Star1.png);
    width: .27rem;
    height: .25rem;
    display: inline-block;
    background-size: cover;
}
.kx_designer_intro span:nth-child(6){
    font-size: .20rem;
    color:#202020;
}
.kx_designer_intro span:nth-child(7){
    background: url(../images/like.png);
    display: inline-block;
    width: .51rem;
    height: .2rem;
    background-size: cover;
}
.no_more{
    width: 2.26rem;
    height: .62rem;
    margin: .3rem auto;
    background: url(../images/nomore.png);
    background-size: cover;
}
