<!--<!doctype html>-->
<!--<html ng-app="kx_app">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=Edge">-->
    <!--<meta name="renderer" content="webkit">-->
    <!--<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">-->
    <!--<title>Document</title>-->
    <!--<link rel="stylesheet" href="../css/search_pages.css">-->
<!--</head>-->
<!--<body>-->
<div class="kx_search_pages" ng-controller="kx_ctrl" style="padding-top: .16rem">
<!--头部开始-->
<!--<div class="kx_header">-->
    <!--<span></span>-->
    <!--<input id="ks_search" type="text" placeholder="请输入您想要的灵感">-->
    <!--<span>取消</span>-->
<!--</div>-->
<!--头部结束-->
<!--搜索框开始-->
<!--<ul class="kx_search_box">-->
    <!--<li><span>新时代</span>简约风</li>-->
    <!--<li><span>新时代</span>UI设计师</li>-->
    <!--<li><span>新时代</span>海报设计排版</li>-->
    <!--<li><span>新时代</span>VIS设计风向</li>-->
    <!--<li><span>新时代</span>设计大师的杰作</li>-->
    <!--<li><span>新时代</span>设计流行趋势</li>-->
<!--</ul>-->
<!--搜索框结束-->
<!--热门搜索开始-->
    <hidden></hidden>
<div class="kx_hot_search">
     <div class="kx_hot_search_top">
         <span></span>
         <span>热门搜索</span>
         <span></span>
         <span>TOP search</span>
     </div>
     <div class="kx_hot_search_bot">
          <div class="kx_inner even" ng-repeat="v in data track by $index">
              <a href="#!/search_result">
              {{v.name}}
              </a>
          </div>
         <!--<div class="inner even">-->
             <!--<a href="">-->
             <!--海报设计-->
             <!--</a>-->
         <!--</div>-->
         <!--<div class="inner_border even">-->
             <!--<a href="">-->
             <!--原研哉作品-->
             <!--</a>-->
         <!--</div>-->
         <!--<div class="inner even">-->
             <!--<a href="">-->
             <!--BANNER-->
             <!--</a>-->
         <!--</div>-->
         <!--<div class="inner_border even">-->
             <!--<a href="">-->
             <!--唐纳德-诺曼-->
             <!--</a>-->
         <!--</div>-->
         <!--<div class="inner even">-->
             <!--<a href="">-->
                 <!--无良印品-->
             <!--</a>-->
         <!--</div>-->
         <!--<div class="inner even">-->
             <!--<a href="">-->
                 <!--画册-->
             <!--</a>-->
         <!--</div>-->
         <!--<div class="inner_border even">-->
             <!--<a href="">-->
                 <!--摄影图排版-->
             <!--</a>-->
         <!--</div>-->
         <!--<div class="inner even">-->
             <!--<a href="">-->
                 <!--海报设计-->
             <!--</a>-->
         <!--</div>-->
         <!--<div class="inner_border even">-->
             <!--<a href="">-->
                 <!--匠心设计-->
             <!--</a>-->
         <!--</div>-->

     </div>
</div>
<!--热门搜索结束-->
<!--设计师搜索开始-->
<div class="kx_designer_search">
    <div class="kx_designer_search_top">
        <span></span>
        <span>设计师搜索</span>
        <span></span>
        <span>DESIGN search</span>
    </div>
    <div class="kx_designer_search_bot">
        <div class="inner_border even" ng-repeat="v in data track by $index">
            <a href="#!/search_result">
                {{v.keyword}}
            </a>
        </div>
        <!--<div class="inner_border even">-->
            <!--<a href="">-->
                <!--TX薇薇-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="inner_border even">-->
            <!--<a href="">-->
                <!--牛魔王-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="inner_border even">-->
            <!--<a href="">-->
                <!--罗子雄-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="inner_border even">-->
            <!--<a href="">-->
                <!--冈特.兰堡-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="inner_border even">-->
            <!--<a href="">-->
                <!--田中一光-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="inner even">-->
            <!--<a href="">-->
                <!--TNADE-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="inner_border even">-->
            <!--<a href="">-->
                <!--西摩.切瓦斯-->
            <!--</a>-->
        <!--</div>-->
    </div>
</div>
<!--设计师搜索结束-->
<!--历史搜索开始-->
<div class="kx_history_search">
    <div class="kx_history_search_top">
        <span></span>
        <span>历史搜索</span>
        <span></span>
        <span>search HISTORY</span>
    </div>
    <div class="kx_history_search_bot">
        <div class="search_history">
            <a href="">
                旅游网页的排版
            </a>
        </div>
        <div class="search_history">
            <a href="">
                设计app的想法
            </a>
        </div>
        <div class="search_history">
            <a href="">
                排版的一些构思
            </a>
        </div>
        <a  class="deleteurl" href="">
            <span class="delete"></span>
        </a>
    </div>
</div>
<!--历史搜索结束-->
</div>
<!--</body>-->
<!--<script src="../js/kx_js/rem.js"></script>-->
<!--<script src="../js/kx_js/angular.min.js"></script>-->
<!--<script src="../js/kx_js/angular-route.min.js"></script>-->
<!--<script src="../js/kx_js/index.js"></script>-->
<!--</html>-->